$color-light:#E5E5E5;
$color-text:#000000;
$color-additional:#030303;
$color-category: #F4F6F6;
$color-placeholder:#8D8D8D;
$color-copyright:#7F828D;
$color-developer:#F35F5F;
$color-button:#36A3EB;
$color-button-text:#ffffff;

$font-medium: 500;
$font-bold: 700;

$font-size-huge: 5rem;
$font-size-large:3.6rem;
$font-size-medium:1.8rem;
$font-size-base:1.4rem;
$font-size-small:1.2rem;






