%font-prim{
    font-family: "TT Norms",  sans-serif;
    font-style: normal; 
} 

%cursor{
    cursor: pointer;
}

%text-transform{
    text-transform: uppercase;
}

%transition {
    transition: all .3s ease-out;
}