@import '../abstracts/constants';
@import '../abstracts/placeholder';
@import '../abstracts/mixins';

.container{
    position: relative;
    overflow: hidden;
    @include flex($direction:column, $j_content:space-between,$align:center);
    height:100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width:1400px) {
        padding: 0 20px;
    }
}